<h1>My app</h1>

<p>card works!</p>

<button>Olá mundo</button>

<ul>
    <li *ngFor="let p of produtos; let i = index" 
    (click)="remover(i)">
    {{ i }} - {{ p }} 
        </li>
    <button (click)="adicionar()" > Add</button>
</ul>

<div [ngSwitch]="menuType">
    <div *ngSwitchCase="'user'">
        <ul>
            <li>adicionar cartao</li>
            <li>perfil</li>
        </ul>
    </div>

    <div *ngSwitchCase="'admin'">
        <ul>
            <li>adicionar cartao</li>
            <li>perfil</li>
            <li>gerenciar usuario</li>
        </ul>
    </div>

    <div *ngSwitchCase="'superuser'">
        <ul>
            <li>adicionar cartao</li>
            <li>perfil</li>
            <li>gerenciar usuario</li>
            <li>gerenciar admins</li>
        </ul>
    </div>
</div>