<p [ngClass]="estilo">comp-atributos works!</p>
<button (click)="trocar()">MUDAR COR</button>
<hr>
<h1 [ngStyle]="{'background':corFundo}" >CURSO ANGULAR</h1>

<hr>

<ng-content select="h2"></ng-content>

<h1>LISTA DE COMPRAS</h1>
<p>adicione um item</p>
<input type="text" [(ngModel)]="item">
<button (click)="adicionarList()"> add </button>
<p>{{ item }}</p>

<ul>
    <li *ngFor="let elemento of list" > {{elemento}} </li>
</ul>
<hr>

<ng-template [ngIf]="isEnableBlock">
    <a href="">FINALIZAR COMPRA</a>
</ng-template>
<br>
<ng-template [ngIf]="isEnableBlock">
    <a href="">ADICIONAR AO CARRINHO</a>
</ng-template>
<br>
<button (click)="desabilitar()">DISABLE</button>

<hr>